.form__input {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  width: 100%;
  border: none;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* @media screen and (max-width: 540px) {
  .form__input:nth-last-child(2n) { */
    /* margin-bottom: 45px; */
  /* }
} */