.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/header__logo.svg);
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 103px;
    height: 24px;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    margin: 30px 30px;
  }
}