.header {
  margin: 0 0 40px;
  margin-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .header {
    margin: 45px 19px 40px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 56px;
    margin: 28px 19px 40px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    margin: 28px 0 40px;
    flex-direction: column-reverse;
    align-items: center;
  }
}