.popup {
  display: flex;
  opacity: 0;
  transition: visibility .2s, opacity .2s linear;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  visibility: hidden;
}